:root {
    --sec-8-heading-holder-width: 1216px;
    --sec-8-heading-holder-height: 149px;


    --section-8-width:1440px;
    --section-8-height:525px;
    /* --section-8-width:343px;
    --section-8-height:1081px; */

    --sec-8-heading-holder-p-text-align:center;
}

.section-8 {
    width: var(--section-8-width);
    height: var(--section-8-height);
    padding-top: 64px;
    padding-right: 112px;
    padding-bottom: 64px;
    padding-left: 112px;
    gap: 64px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;


}

.sec-8-heading-holder {
    width: var(--sec-8-heading-holder-width);
    height: var(--sec-8-heading-holder-width);

    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    margin-bottom: -50px;





}

.sec-8-heading-holder h1 {
    font-family: Plus Jakarta Sans;
    font-weight: 800;
    font-size: 36px;
    line-height: 20px;
    letter-spacing: -1.4%;
    text-align: center;

}

.sec-8-heading-holder p {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 160%; */
    letter-spacing: 0%;
    text-align: var(--sec-8-heading-holder-p-text-align);


    

}

/* .section-8-cart-holder {
    width: 1216px;
    height: 184px;
    gap: 32px;
    margin-top: 64px;

} */

.section-8-cart {
    border: 2px solid;
    width: 280px;
    height: 184px;
    gap: 10px;
    border-radius: 24px;
    border-width: 1px;
    padding: 24px;
}

.section-8-cart img {
    width: 17px;
    height: 21px;
    top: 1.13px;
    left: 3.38px;
    object-fit: cover;
    /* border: 1px solid; */
}

.section-8-cart h1 {
    font-family: Plus Jakarta Sans;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1%;
    color: #1E293B;

}

.section-8-cart small {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #1E293B;

}

.section-8-cart-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1216px;
    height: 184px;
    gap: 32px;
    justify-content: center;
    align-items: center;


    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 343px;
    height: 1184px;
    gap: 32px;
    justify-content: center;
    align-items: center; */

}
.sec-7-rate-img img{
    width: 26px;
    height: 26px;
    

}
@media screen and (max-width: 790px) {
    :root {
        --sec-8-heading-holder-width: 343px;
        --sec-8-heading-holder-height: 178px;
        --section-8-width:375px;
        --section-8-height:1084px;

        --sec-8-heading-holder-p-text-align:start;
        
    }

    .section-8-cart-holder {
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 1216px;
        height: 184px;
        gap: 32px;
        justify-content: center;
        align-items: center; */
    
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 343px;
        height: 1184px;
        gap: 32px;
        justify-content: center;
        align-items: center;
    
    }
    .section-8-cart {
        margin-left: auto;
        margin-right: auto;
    }
}