:root {
    --sec-7-cart-width: 384px;
    --sec-7-cart-height: 313px;
    --sec-7-class-rate-font-size: 18px;

    --section-7-outer-width: 1216px;


    --section-7-heading-h1-font-size: 36px;
    --section-7-heading-h1-line-height: 44px;
    --section-7-heading-h1-font-weight: 800;


    --section-7-heading-p-font-size: 18px
}

.section-7 {
    margin-top: 60px;
    background-color: #F8FAFC;
    /* width: 1216px; */
    /* height: 120vh; */
    gap: 24px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.section-7-outer {
    width: var(--section-7-outer-width);
    /* border: 1px solid; */
    margin-left: auto;
    margin-right: auto;

}

.section-7-test {
    background-color: #EEF2FF;
    color: #4F46E5;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.section-7-heading {

    text-align: center;
}

.section-7-heading h1 {
    font-family: Plus Jakarta Sans;
    font-weight: var(--section-7-heading-h1-font-weight);
    font-size: var(--section-7-heading-h1-font-size);
    line-height: var(--section-7-heading-h1-line-height);
    letter-spacing: -1.4%;
    text-align: center;




}

.section-7-heading p {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: var(--section-7-heading-p-font-size);
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;



}

.sec-7-cart {
    width: var(--sec-7-cart-width);
    height: var(--sec-7-cart-height);
    gap: 10px;
    border-radius: 24px;
    border-width: 1px;
    padding: 24px;
    border: 1px solid #E2E8F0;
    display: none;
}

.sec-7-cart:nth-child(1) {
    /* background-color: aquamarine; */
    display: block;
}

.sec-7-cart:nth-child(2) {
    /* background-color: aquamarine; */
    display: block;
}

.sec-7-cart:nth-child(3) {
    /* background-color: aquamarine; */
    display: block;
}




.sec-7-class-rate {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: var(--sec-7-class-rate-font-size);
    line-height: 160%;
    letter-spacing: 0%;

}

.sec-7-cart-details {
    display: flex;
}

.sec-7-cart-details img {
    width: 48px;
    height: 48px;
    border-radius: 92.25px;

}

.sec-7-cart-details small {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #475569
}

.sec-7-name {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.7%;

}

.sec-7-cart-holder {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    align-items: center;
    /* justify-content: center; */

}





.middle-cart {
    /* background-color: aqua; */
    width: 384px;
    height: 255px;
    gap: 10px;
    border-radius: 24px;
    border-width: 1px;
    padding: 24px;

    /* margin-bottom:100px ; */
}

.middle-cart-2 {
    width: 384px;
    height: 313px;
    gap: 10px;
    border-radius: 24px;
    border-width: 1px;
    padding: 24px;

    /* margin-bottom:100px ; */
}

.sec-7-all-cart-holders {
    width: 100%;
    display: flex;
    gap: 34px;
}

.sec-7-btn-holder {
    /* background-color: aqua; */
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start;

}

#sec-button{
    width: 343px;
    height: 40px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    gap: 8px;
    border-radius: 1234px;

    margin-left: auto;
    background-color: #4F46E5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:auto ;
    display: none;
    margin-top: 10px;
    color: #EEF2FF;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
}
#sec-button img{
    width: 15px;
height: 15px;
top: 2.19px;
left: 2.19px;
padding-top: 2.19px;

}

@media screen and (max-width: 790px) {
    :root {
        --sec-7-cart-width: 343px;
        --sec-7-cart-height: 266px;
        --sec-7-class-rate-font-size: 16px;


        --section-7-outer-width: 343px;



        --section-7-heading-h1-font-size: 30px;
        --section-7-heading-h1-line-height: 38px;
        --section-7-heading-h1-font-weight: 400;


        --section-7-heading-p-font-size: 16px
    }

    .sec-7-cart-holder {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        align-items: center;

        justify-content: center;
        padding-left: 10px;
    }

    #sec-button {
        display: block;

    }
}